name: CMake Testing Builds

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  Testing_Builds:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
    - uses: actions/checkout@v4
    - name: Install Dependencies
      run: |
        whoami
        sudo apt install cmake pkg-config build-essential libgsl-dev

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory.
      # `CMAKE_BUILD_TYPE` is only required if you're using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build CMakeLists.txt -DCMAKE_BUILD_TYPE=Debug -DGPU=OFF -DTESTING=ON

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --target BackPropagation --config Release

    - name : Move and Rename
      run: | 
        mkdir output
        cp ./build/BackPropagation ./output/Debug_CPU_Build_Linux_x64

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C Release

    - name: Configure CMake Again
      # Configure CMake in a 'build' subdirectory.
      # `CMAKE_BUILD_TYPE` is only required if you're using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build CMakeLists.txt -DCMAKE_BUILD_TYPE=Release -DGPU=OFF -DTESTING=ON
    - name: Build Again
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build --target BackPropagation --config Release

    - name : Move and Rename again
      run: | 
        cp ./build/BackPropagation ./output/Release_CPU_Build_Linux_x64

    - name: Test Again
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: ctest -C Debug

    - name: NVCC install (Latest)
      run: |
        # Install the keyring package that manages NVIDIA's APT repositories
        wget https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64/cuda-keyring_1.1-1_all.deb
        sudo dpkg -i cuda-keyring_1.1-1_all.deb
        sudo apt-get update
        
        # The 'cuda-toolkit' package always points to the single latest version
        sudo apt-get -y install cuda-toolkit
        
        # Verify
        /usr/local/cuda/bin/nvcc --version

    - name: Configure CMake with GPU Release
      run: cmake -B ${{github.workspace}}/build CMakeLists.txt -DGPU=ON -DTESTING=ON -DCMAKE_BUILD_TYPE=Release -DCMAKE_CUDA_COMPILER=/usr/local/cuda/bin/nvcc

    - name: Build with GPU Release
      run: cmake --build ${{github.workspace}}/build --target BackPropagation --config Release

    - name : Move and Rename GPU Release
      run: | 
        cp ./build/BackPropagation ./output/Release_GPU_Build_Linux_x64

    - name: Configure CMake with GPU Debug
      run: cmake -B ${{github.workspace}}/build CMakeLists.txt -DGPU=ON -DTESTING=ON -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CUDA_COMPILER=/usr/local/cuda/bin/nvcc

    - name: Build with GPU Debug
      run: cmake --build ${{github.workspace}}/build --target BackPropagation --config Debug

    - name : Move and Rename GPU Debug
      run: | 
        cp ./build/BackPropagation ./output/Debug_GPU_Build_Linux_x64

    - name: Make GitHub release
      run: |
        gh release delete v0.0.0 -y
        gh release  --title "Testing Builds" --repo ${{ github.repository }} create v0.0.0 -F ./Releases.md ./output/Release_CPU_Build_Linux_x64 ./output/Debug_CPU_Build_Linux_x64 ./output/Release_GPU_Build_Linux_x64 ./output/Debug_GPU_Build_Linux_x64
    
